[submodule "themes/casper3"]
	path = themes/casper3
	url = https://github.com/jonathanjanssens/hugo-casper3.git
[submodule "themes/hugo-swift-theme"]
	path = themes/hugo-swift-theme
	url = https://github.com/onweru/hugo-swift-theme.git
