[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git

[submodule "themes/hugo-theme-hello-friend-ng-vie"]
	path = hugo-theme-hello-friend-ng-vie
	url = https://github.com/jamiepoli/hugo-theme-hello-friend-ng-vie.git
